@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer utilities {
  .border-border {
    border: 2px solid black;
  }
  .bg-background {
      background-color: #f0f0f0; 
    }
  
  .text-foreground {
      color: #333333; 
  }
}


.bg-red-500 {
  background-color: #ef4444;
}

.bg-blue-500 {
  background-color: #6ce5ad;
}
