/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.horizontal-spread {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  /* display: grid;
    grid-template-columns: repeat(auto-fit, 100px); 
    gap: 1000px; */
}

.arrow-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #936ff7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow-button:hover {
  background-color: #b79eff;
  transform: scale(1.05);
}
